<nav id="menu" class="slideout-menu">
  <header class="menu-header">
    <span class="menu-header-title">Architekturbüro Löw</span>
  </header>

  <section class="menu-section">
    <h3 class="menu-section-title">Architektur</h3>
    <ul class="menu-section-list">
      {% assign pages = site.architektur | sort: "weight" %}
      {% for my_page in pages %}
        {% if my_page.title and my_page.title != "404: Page not found") %}
        <li {% if my_page.url == page.url %} class="active" {% endif %}>
          <a title="{{ my_page.title }}" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>

  <section class="menu-section">
    <h3 class="menu-section-title">Sachverständiger</h3>
    <ul class="menu-section-list">
      {% assign pages2 = site.sachverstaendiger | sort: "weight" %}
      {% for my_page in pages2 %}
        {% if my_page.title and my_page.title != "404: Page not found") %}
        <li {% if my_page.url == page.url %} class="active" {% endif %}>
          <a title="{{ my_page.title }}" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>

  <section class="menu-section">
    <h3 class="menu-section-title">Sonstiges</h3>
    <ul class="menu-section-list">
      <li><a href="/impressum">Impressum</a></li>
    </ul>
  </section>
</nav>