<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <div class="outer_wrap">
    <div class="inner_wrap">
    <div class="top_tabs"><a name="top"></a>
      <ul>
        <li class="active"><a href="#">Architektur</a></li>
        <li><a href="#">Sachverständiger</a></li>
      </ul>
    </div>
    <div class="header">
      <div id="logo"></div>
      <div class="header_image">
        <img src="img/erfolg.jpg" alt="Erfolg für Ihr Bauvorhaben" title="Erfolg für Ihr Bauvorhaben"/>
      </div>
    </div>
    <div class="main_navigation">
      <ul>
        <li title="Startseite" class="active"><a href="#">Startseite</a></li>
        <li><a title="Privater Hausbau" href="privater_hausbau.html">Privater Hausbau</a></li>
        <li><a title="Gewerbebau" href="#">Gewerbebau</a></li>
        <li><a title="Renovierung" href="#">Renovierung</a></li>
        <li><a title="Unser Büro" href="#">Unser Büro</a></li>
        <li><a title="Unsere Philosophie" href="#">Unsere Philosophie</a></li>
        <li><a title="Kontakt" href="#">Kontakt</a></li>
      </ul>
    </div>

    <div class="main">
      <div class="headline">
        <h1>Sie bauen in der Regel nur einmal im Leben ein Haus! <br/>Da kann jeder Fehler zu viel sein.</h1>
        <h3>Wir bauen Ihr Traumhaus für Ihr Kostenbudget.</h3>
      </div>
      <div class="content">
        <div class="content_box">
          <h2>Ihr Bauvorhaben – Beratung und Betreuung von der Planung
            bis zur Fertigstellung.</h2><p>
            Das Architektur- und Sachverständigenbüro Löw in Limburg analysiert Ihr
            Bauvorhaben und berät Sie für Ihre individuelle Situation. Als freie
            Architekten sind wir unabhängig. Wir bauen Ihnen ein Architektenhaus und
            kein Fertighaus. Sie wohnen später in Ihrem individuell für Sie
            geplanten Traumhaus. Vom klassischen Hausbau bis zur modernen
            Architektur, von preiswerten Lösungen bis hin zu individuell angepassten
            Wohnlösungen sind wir ihr Partner am Bau.</p>
            <div class="to_top_link"><a title="nach oben" href="#top">nach oben</a></div>
          </div>
          <div class="content_box">
            <h2>Geld sparen durch staatliche Fördermittel!</h2><p>
            Für die Kostenberechnung erfragen wir staatliche Fördermittel wie
            KfW-Fördermittel. Warum mehr Geld ausgeben als unbedingt nötig.</p>
            <div class="to_top_link"><a title="nach oben" href="#top">nach oben</a></div>
          </div>
          <div class="content_box">
            <h2>Regenerative Energie</h2><p>
            Egal ob Solar, Photovoltaik, Erdwärme oder vielleicht doch Gas oder Öl.
            Wir beraten Sie in Bezug auf die optimale Energieversorgung für Ihr
            Eigenheim. Energieeinsparverordnung</p>
            <div class="to_top_link"><a title="nach oben" href="#top">nach oben</a></div>
          </div>
          <div class="content_box">
            <h2>Bauen nach dem aktuellen Stand der Technik</h2><p>
            Wir planen ihr Eigenheim nach dem aktuellen Stand der Technik. Veraltete
            Technik bedeutet kürzere Renovierungszyklen und damit verbunden höhere
            Kosten. Das können Sie vermeiden!</p>
            <div class="to_top_link"><a title="nach oben" href="#top">nach oben</a></div>
          </div>
          <div class="content_box">
            <h2>In allen Bauphasen sind wir für Sie da!</h2><p>
            Neben der Planung betreuen wir Sie in allen Leistungsphasen der HOAI:</p>
            <ol>
              <li>Grundlagenermittlung , Vorplanung mit Kostenschätzung</li>
              <li>Entwurfsplanung und Kostenberechnung</li>
              <li>Genehmigungsplanung</li>
              <li>Ausführungsplanung</li>
              <li>Vorbereitung der Vergabe einschließlich Ermitteln der Mengen
                und Aufstellen von Leistungsverzeichnissen (LV)</li>
                <li>Mitwirkung bei der Vergabe inklusive Kostenanschlag</li>
                <li>Objektüberwachung (Bauüberwachung) und Kostenfeststellung</li>
                <li>Objektbetreuung und Dokumentation</li>
              </ol>
              <div class="to_top_link"><a title="nach oben" href="#top">nach oben</a></div>
            </div>
            <div class="content_box">
              <h2>Ihr Projekt soll nicht an der Umsetzung scheitern!</h2><p>
              Viele Bauvorhaben scheitern an der unprofessionellen Umsetzung. Damit
              das nicht passiert, arbeiten wir mit qualifizierten Handwerksbetrieben,
              Bauunternehmen und Statikern aus der Region zusammen. Das muss nicht
              heißen, dass Sie zu viel Geld bezahlen. Wir vergleichen Angebote und
              wählen für Sie das für Sie günstigste Angebot aus. Auf Ihren Wunsch
              arbeiten wir auch gerne mit mit Handwerkern zusammen, die Sie bestimmen.
            </p>
            <div class="to_top_link"><a title="nach oben" href="#top">nach oben</a></div>
          </div>
          <div class="content_box">
            <h2>Professionelle Baudokumentation und Baucontrolling</h2><p>
            Im Rahmen der Durchführung ihres Projektes dokumentieren wir alle
            wichtigen Entscheidungen. Zur vollen Kostenkontrolle führen wir ein
            Baucontrolling durch, damit Sie jederzeit Ihre Kosten im Blick haben.</p>
            <div class="to_top_link"><a title="nach oben" href="#top">nach oben</a></div>
          </div>
          <div class="content_box">
            <h2>Wer sind wir?</h2><p>

            Das Architektur- und Sachverständigenbüro Löw in Limburg wurde 1930
            gegründet und wird in der 3. Generation geführt. Ihre Zufriedenheit ist
            unser Antrieb. Wir bieten Ihnen Leistungen in folgenden Fachgebieten:</p>
            <ul>
              <li>Einfamilienhausbau, Mehrfamilienhausbau, Gewerbebau,
                Industriebau</li>
                <li>Renovierung, Sanierung, Modernisierung von Bestandsobjekten</li>
                <li>Bauanträge, Baugenehmigungen, Kontakt zum Bauamt</li>
                <li>Projektentwicklung</li>
                <li>Immobilienberatung, Beratung vor dem Hauskauf und Wohnungskauf</li>
                <li>Baukostenermittlung und Bauberatung</li>
                <li>Wohnflächenberechnung</li>
              </ul>
              Wir sind der Partner an ihrer Seite! <br />
              <div class="to_top_link"><a title="nach oben" href="#top">nach oben</a></div>
            </div>

          </div>



        </div> <!-- End Content -->

        <div class="footer">
          <div class="footer_links">
            <ul>
              <li><a href="#">powered by triangle</a></li>
              <li><a href="#">Impressum</a></li>
            </ul>


          </div>
        </div>

      </div>
      <br/><br/>

    </div>

    {% include footer.html %}

    <!-- JS -->
    <!-- inject:js -->
    <!-- endinject -->

  </body>

  </html>
